@font-face {
    font-family: 'TT Travels';
    src: url('./fonts/TTTravels-Light.eot'),
    url('./fonts/TTTravels-Light.woff2') format('woff2'),
    url('./fonts/TTTravels-Light.woff') format('woff'),
    url('./fonts/TTTravels-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'TT Travels';
    src: url('./fonts/TTTravels-Regular.eot'),
    url('./fonts/TTTravels-Regular.woff2') format('woff2'),
    url('./fonts/TTTravels-Regular.woff') format('woff'),
    url('./fonts/TTTravels-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'TT Travels';
    src: url('./fonts/TTTravels-Medium.eot'),
    url('./fonts/TTTravels-Medium.woff2') format('woff2'),
    url('./fonts/TTTravels-Medium.woff') format('woff'),
    url('./fonts/TTTravels-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'TT Travels';
    src: url('./fonts/TTTravels-DemiBold.eot'),
    url('./fonts/TTTravels-DemiBold.woff2') format('woff2'),
    url('./fonts/TTTravels-DemiBold.woff') format('woff'),
    url('./fonts/TTTravels-DemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'TT Travels';
    src: url('./fonts/TTTravels-Bold.eot'),
    url('./fonts/TTTravels-Bold.woff2') format('woff2'),
    url('./fonts/TTTravels-Bold.woff') format('woff'),
    url('./fonts/TTTravels-Bold.ttf') format('truetype');
    font-weight: 700;
}




